* {
   box-sizing: border-box;
}

/*---CLASSES/GLOBAL---*/
.alt-link{
   background: black;
}

.alt-link a{
   color: white;
}

.container {
   width: 87%;
   padding: 0 2%;
   margin: 0 auto;
}

.col-1-2{
   float: left;
   padding: 0 10px;
   width: 50%;
}

.col-1-3{
   float: left;
   padding: 0 10px;
   width: 33.3%;
}

.col-2-3{
   float: left;
   padding: 0 10px;
   width: 66.6%;
}

.clearfix:after{
   content: "";
   display: table;
   clear: both;
}

body {
   background: white;
   color: black;
   font-weight: 300;
   font-size: 16px;
   line-height: 22px;
   font-family: “Open Sans”, “Helvetica Neue”, Helvetica, Arial, sans-serif;
}

a {
   text-decoration: none;
}

article {
   display: flex;
   align-items: center;
}

h2, h3, h4 {
   font-size: 14px;
   font-weight: 400;
   text-transform: uppercase;
   color: #45a2da;
}

img {
   width: 100%;
}

/*---HEADER---*/
header {
   display: flex;
   justify-content: space-between;
}

header a {
   color: black;
}

header a:hover{
   color: #45a2da;
}

nav {
   text-align: right;
}

nav li {
   display: inline-block;
}

nav li a {
   color: black;
}

nav li:hover {
   box-shadow: inset 0 3px 0 0 #45a2da;
   color: #45a2da;
}

article p {
   color: #848484;
}

/*---FOOTER---*/

footer {
   background: black;
   border-top: 1px solid rgba(0, 0, 0, 0.085);
   box-shadow: inset 0 1px 00 rgba(255, 255, 255, 0.8);
}

aside h3 {
   color: #848484;
}

footer a {
   color: white;
}

footer p {
   color: white;
}

footer li {
   display: inline-block;

}

